Repository cloudamqp/lavinmq: changes, and which Cirrus tasks are due for each by the changed paths.
All: freebsd_spec, freebsd_build, osx_spec, osx_build

.cirrus.yml:

freebsd_spec_task:
  skip: "!changesInclude('.cirrus.yml', 'shard.lock', 'src/**', 'spec/**')"
  freebsd_instance:
    image_family: freebsd-14-0-snap
  install_script:
    - pkg install -y crystal shards security/openssl
  script: |
    shards install --production
    crystal spec --no-color --order random

freebsd_build_task:
  skip: "!changesInclude('.cirrus.yml', 'shard.lock', 'src/**')"
  freebsd_instance:
    image_family: freebsd-14-0-snap
  install_script:
    - pkg install -y crystal shards security/openssl gmake curl
  script: gmake -j2 DOCS= && rm bin/*.*
  artifacts:
    path: bin/*

osx_spec_task:
  skip: "!changesInclude('.cirrus.yml', 'shard.lock', 'src/**', 'spec/**')"
  macos_instance:
    image: monterey-base
  install_script:
    - brew update
    - brew install crystal
  script: |
    shards install --production
    crystal spec --no-color --order random

osx_build_task:
  skip: "!changesInclude('.cirrus.yml', 'shard.lock', 'src/**')"
  macos_instance:
    image: monterey-base
  install_script:
    - brew update
    - brew install crystal
  env:
    PKG_CONFIG_PATH: /usr/local/opt/openssl@1.1/lib/pkgconfig
  script: make -j2 DOCS= && rm bin/*.*
  artifacts:
    path: bin/*

be more restrictive when running GHA for deb and containers
  .github/workflows/deb.yml
  .github/workflows/docker.yml
Due: none

UserStore#default_user prefers a non hidden (__direct) user
  src/lavinmq/user_store.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

More efficient UserStore#default_user
  src/lavinmq/user_store.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

Run java client tests in CI
  .github/workflows/ci.yml
Due: none

java client has a new way to specify path to rabbitmqctl
  .github/workflows/ci.yml
Due: none

make all binaries in java client test CI executable
  .github/workflows/ci.yml
Due: none

consumer with x-priority = null should be invalid
  src/lavinmq/client/channel.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

Improved direct reply-to spec
  spec/reply_to_spec.cr
Due: freebsd_spec, osx_spec

Direct reply-to improvements
  src/lavinmq/client/channel.cr
  src/lavinmq/client/client.cr
  src/lavinmq/vhost.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

Channel#try_send?
  src/stdlib/channel.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

Let consumers pull messages as long as ready queue sin't empty
  src/lavinmq/client/channel.cr
  src/lavinmq/client/channel/consumer.cr
  src/lavinmq/queue/durable_queue.cr
  src/lavinmq/queue/queue.cr
  src/lavinmq/queue/ready.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

check we still are in flow mode after waiting for capacity
  src/lavinmq/client/channel/consumer.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

fixup! Let consumers pull messages from Queues
  src/lavinmq/client/channel/consumer.cr
  src/lavinmq/queue/queue.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

Let Consumer#cancel rm it self from the queue
  src/lavinmq/client/channel.cr
  src/lavinmq/client/channel/consumer.cr
  src/lavinmq/http/controller/consumers.cr
  src/lavinmq/queue/queue.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

use more try_send? for when channels might be closed
  src/lavinmq/queue/queue.cr
  src/lavinmq/queue/ready.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

fixup! pending a spec that exits the whole process for some reason
  spec/persistent_exchange_spec.cr
Due: freebsd_spec, osx_spec

rm unused vars
  src/lavinmq/client/channel.cr
  src/lavinmq/queue/queue.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

Channel#try_send
  spec/stdlib/channel_spec.cr
  src/stdlib/channel.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

don't raise when try_send to consumer channels
  src/lavinmq/client/channel/consumer.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

Sending pause/resume notifictions is non blocking
  src/lavinmq/queue/queue.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

don't load parameters if vhost is closed
  src/lavinmq/vhost.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

close channels in consumer on close
  src/lavinmq/client/channel/consumer.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

message_expire_loop in Queue
  src/lavinmq/queue/queue.cr
  src/lavinmq/queue/ready.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

make sure we are in flow mode before returning form wait_until_accepts
  src/lavinmq/client/channel/consumer.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

pending a spec that exits the whole process for some reason
  spec/persistent_exchange_spec.cr
Due: freebsd_spec, osx_spec

Support flow
  spec/shovel_spec.cr
  src/lavinmq/client/channel.cr
  src/lavinmq/client/channel/consumer.cr
  src/lavinmq/client/client.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

only wait for flow after waited for prefetch capacity
  src/lavinmq/client/channel/consumer.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

enable another spec
  spec/shovel_spec.cr
Due: freebsd_spec, osx_spec

Improved support for queue expiration
  src/lavinmq/queue/queue.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

Lock in Ready have to be reentrant when dead lettering
  src/lavinmq/queue/ready.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

Drop ConsumerStore and support for consumer priorities
  src/lavinmq/consumer_store.cr
  src/lavinmq/queue/queue.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

let the consumer checkout the msg getting a SP
  spec/server_spec.cr
  src/lavinmq/client/channel/consumer.cr
  src/lavinmq/queue/queue.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

Let consumers pull messages from Queues
  src/lavinmq/client/channel.cr
  src/lavinmq/client/channel/consumer.cr
  src/lavinmq/consumer_store.cr
  src/lavinmq/queue/queue.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

disable Consumer priority specs, not supported yet
  spec/consumer_spec.cr
Due: freebsd_spec, osx_spec

support for Queue pause/flow
  src/lavinmq/queue/queue.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

support for queue flow/pause
  src/lavinmq/client/channel/consumer.cr
  src/lavinmq/queue/queue.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

Way more efficient waiting when prefetch is global
  src/lavinmq/client/channel/consumer.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

rm unused code
  src/lavinmq/client/channel/consumer.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

only call Channel#rm_consumer from Consumer
  src/lavinmq/client/channel.cr
  src/lavinmq/client/channel/consumer.cr
  src/lavinmq/queue/queue.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

Support for consumer priorities
  spec/consumer_spec.cr
  src/lavinmq/client/channel/consumer.cr
  src/lavinmq/queue/queue.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build
