Repository cloudamqp/lavinmq: changes, and which Cirrus tasks are due for each by the changed paths.
All: freebsd_spec, freebsd_build, osx_spec, osx_build

freebsd_spec:
  freebsd_instance:
    image_family: freebsd-14-0-snap
  install_script:
  - pkg install -y crystal shards security/openssl
  script: 'shards install --production
  
    crystal spec --no-color --order random
  
    '

freebsd_build:
  freebsd_instance:
    image_family: freebsd-14-0-snap
  install_script:
  - pkg install -y crystal shards security/openssl gmake curl
  script: gmake -j2 DOCS= && rm bin/*.*
  artifacts:
    path: bin/*

osx_spec:
  macos_instance:
    image: monterey-base
  install_script:
  - brew update
  - brew install crystal
  script: 'shards install --production
  
    crystal spec --no-color --order random
  
    '

osx_build:
  macos_instance:
    image: monterey-base
  install_script:
  - brew update
  - brew install crystal
  env:
    PKG_CONFIG_PATH: /usr/local/opt/openssl@1.1/lib/pkgconfig
  script: make -j2 DOCS= && rm bin/*.*
  artifacts:
    path: bin/*

Message TTL is only accurate to 100ms
  spec/delayed_message_exchange_spec.cr
Due: freebsd_spec, osx_spec

Support for migrating v2 to v3 index files
  src/lavinmq/queue/queue.cr
  src/lavinmq/schema.cr
  src/lavinmq/segment_position.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

Update CHANGELOG.md
  CHANGELOG.md
Due: none

shards update version
  shard.yml
Due: none

SegmentPosition to store TTL separatly from timestamp
  spec/segment_position_spec.cr
  src/lavinmq/segment_position.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

No need to read from disk to get msg timestamp
  src/lavinmq/queue/queue.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

Use RoughTime.unix_ms/monotonic where possible, greater accuracy
  src/lavinmq/client/channel.cr
  src/lavinmq/client/client.cr
  src/lavinmq/queue/queue.cr
  src/lavinmq/rough_time.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

new amqp-client with faster transactions support
  shard.lock
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

lavinmqperf transactions support
  src/lavinmqperf.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

Docker: Copy base static, then add/override docbuilder files
  Dockerfile
Due: none

Clear ShortString pool on USR2 GC
  src/lavinmq/launcher.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

A start of specs when disk is full
  special_spec/disk_full_spec.cr
Due: none

Rm the use of a StringPool
  shard.lock
  src/lavinmq/launcher.cr
  src/lavinmq/reporter.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

Update readme with Transaction support
  README.md
Due: none

Styling changes in Channel monkey patching
  src/stdlib/channel.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

new amqp-client
  shard.lock
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

Refactoring in lavinmqperf
  src/lavinmqperf.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

only fsync if persistent msgs to durable q's have been published
  src/lavinmq/vhost.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

Setup Log from ENV in lavinmqperf
  src/lavinmqperf.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

Fsync at Transaction commit
  src/lavinmq/client/channel.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

new amqp-client version
  shard.lock
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

report more details on exception when reading message
  src/lavinmq/queue/queue.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

delete SP from requeued Set on delete, not on read
  src/lavinmq/queue/queue.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

rm not_nil requirment
  src/lavinmq/schema.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

increased code readability
  src/lavinmq/message.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

MessageMetadata#bytesize now includes the size of the body
  src/lavinmq/message.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

Build container with crystal 1.6.2
  Dockerfile
Due: none

build deb packages with crystal 1.6.2
  .github/workflows/deb.yml
Due: none

lavinmqperf: Uniq queue names, allow parallel runs
  src/lavinmqperf.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

Handle error while generating json array responses
  src/lavinmq/http/controller.cr
  static/js/table.js
  static/main.css
  static/users.html
  static/vhosts.html
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

Lint
  static/js/table.js
  static/users.html
  static/vhosts.html
Due: none

Change img dimentions to fit twitter
  README.md
Due: none

Revert picture changes
  README.md
Due: none

Build arm64 and amd64 packages together in CI
  .github/workflows/deb.yml
Due: none

cancel deb/container building when new pushes to the same branch
  .github/workflows/deb.yml
  .github/workflows/docker.yml
Due: none

Path conditions:
  freebsd_spec: any of: .cirrus.yml, shard.lock, src/**, spec/**
  freebsd_build: any of: .cirrus.yml, shard.lock, src/**
  osx_spec: any of: .cirrus.yml, shard.lock, src/**, spec/**
  osx_build: any of: .cirrus.yml, shard.lock, src/**
