Repository cloudamqp/lavinmq: changes, and which Cirrus tasks are due for each by the changed paths.
All: freebsd_spec, freebsd_build, osx_spec, osx_build

.cirrus.yml:

freebsd_spec_task:
  skip: "!changesInclude('.cirrus.yml', 'shard.lock', 'src/**', 'spec/**')"
  freebsd_instance:
    image_family: freebsd-14-0-snap
  install_script:
    - pkg install -y crystal shards security/openssl
  script: |
    shards install --production
    crystal spec --no-color --order random

freebsd_build_task:
  skip: "!changesInclude('.cirrus.yml', 'shard.lock', 'src/**')"
  freebsd_instance:
    image_family: freebsd-14-0-snap
  install_script:
    - pkg install -y crystal shards security/openssl gmake curl
  script: gmake -j2 DOCS= && rm bin/*.*
  artifacts:
    path: bin/*

osx_spec_task:
  skip: "!changesInclude('.cirrus.yml', 'shard.lock', 'src/**', 'spec/**')"
  macos_instance:
    image: monterey-base
  install_script:
    - brew update
    - brew install crystal
  script: |
    shards install --production
    crystal spec --no-color --order random

osx_build_task:
  skip: "!changesInclude('.cirrus.yml', 'shard.lock', 'src/**')"
  macos_instance:
    image: monterey-base
  install_script:
    - brew update
    - brew install crystal
  env:
    PKG_CONFIG_PATH: /usr/local/opt/openssl@1.1/lib/pkgconfig
  script: make -j2 DOCS= && rm bin/*.*
  artifacts:
    path: bin/*

updated benchmarking numbers in readme
  README.md
Due: none

rm fedora install instructions as we currently don't build those
  README.md
Due: none

remove some edge cases in readme that are fixed
  README.md
Due: none

readme tweak
  README.md
Due: none

change data dir for specs in more specs to /tmp/lavinmq-spec
  spec/server_cli_spec.cr
  spec/server_spec.cr
  spec/unix_server_spec.cr
Due: freebsd_spec, osx_spec

Version bump
  CHANGELOG.md
  shard.yml
Due: none

Do the release workflow manually, without deprecated actions
  .github/workflows/release.yml
  build/release_notes
Due: none

New RPM build workflow
  .github/workflows/rpm.yml
  Dockerfile.rpm
  build/lavinmq.spec
Due: none

run rpm GHA on specific file changes
  .github/workflows/rpm.yml
Due: none

upgrade to amqp-client.js 2.1.0 (from 2.0.0)
  Makefile
Due: none

PREFIX var in Makefile
  Makefile
Due: none

use correct vars for RPM packagecloud uploads
  .github/workflows/rpm.yml
Due: none

shorter target triplet in dockerfile when compiling
  Dockerfile
Due: none

RPM packagecloud upload fix
  .github/workflows/rpm.yml
Due: none

var typos in rpm.yml
  .github/workflows/rpm.yml
Due: none

upload deb/rpm packages for tagged versions to head repo
  .github/workflows/deb.yml
  .github/workflows/rpm.yml
Due: none

Remove @unacked from Queue
  spec/server_spec.cr
  spec/unacked_queue_spec.cr
  src/lavinmq/client/channel.cr
  src/lavinmq/queue/durable_queue.cr
  src/lavinmq/queue/queue.cr
  src/lavinmq/queue/unacked.cr
  src/lavinmq/reporter.cr
  src/lavinmq/vhost.cr
  src/lavinmq/vhost/spqueue.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

build RPM packages using depot.dev
  .github/workflows/rpm.yml
Due: none

depot.dev for faster multi arch builds
  depot.json
Due: none

Improved RPM packaging
  .github/workflows/rpm.yml
  Dockerfile.rpm
  Makefile
  build/lavinmq.spec
Due: none

updated default config
  extras/config.ini
Due: none

git checkout with action
  .github/workflows/rpm.yml
Due: none

fix correct deb dependencies
  build/deb
Due: none

Build deb packages with depot
  .github/workflows/deb.yml
  Dockerfile.deb
Due: none

test layer in Dockerfile.rpm
  Dockerfile.rpm
Due: none

build container image with depot
  .github/workflows/docker.yml
Due: none

only upload one copy of src rpm package
  .github/workflows/rpm.yml
Due: none

Test get msg after migration of index v2 to v3
  spec/resources/data_dir_index_v2/42099b4af021e53fd8fd4e056c2568d7c2e3ffa8/.vhost
  spec/resources/data_dir_index_v2/42099b4af021e53fd8fd4e056c2568d7c2e3ffa8/1038345ecc525ca37383914c8d7839e94ccf5448/.queue
  spec/resources/data_dir_index_v2/42099b4af021e53fd8fd4e056c2568d7c2e3ffa8/1038345ecc525ca37383914c8d7839e94ccf5448/ack
  spec/resources/data_dir_index_v2/42099b4af021e53fd8fd4e056c2568d7c2e3ffa8/1038345ecc525ca37383914c8d7839e94ccf5448/enq
  spec/resources/data_dir_index_v2/42099b4af021e53fd8fd4e056c2568d7c2e3ffa8/definitions.amqp
  spec/resources/data_dir_index_v2/42099b4af021e53fd8fd4e056c2568d7c2e3ffa8/msgs.0000000001
  spec/spec_helper.cr
  spec/storage_spec.cr
Due: freebsd_spec, osx_spec

File upload for vhost definition
  src/lavinmq/http/controller/definitions.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

Change upload endpoint depending on session stored Vhost
  static/index.html
Due: none

Set vhost in session storage
  static/index.html
  static/js/vhosts.js
Due: none

Add vhost selector (drop down) for uploading definitions
  static/index.html
  static/js/vhosts.js
Due: none

Upload vhost definitions from overview view (#409)
  src/lavinmq/http/controller/definitions.cr
  static/index.html
  static/js/vhosts.js
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

Update user access controller
  src/lavinmq/http/controller.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

Add impersonator pre-defined user tag
  src/lavinmq/http/controller.cr
  src/lavinmq/user.cr
  static/user.html
  static/users.html
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

Update user access controller (#408)
  src/lavinmq/http/controller.cr
  src/lavinmq/user.cr
  static/user.html
  static/users.html
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

Remove unnecessary var assignment
  spec/storage_spec.cr
Due: freebsd_spec, osx_spec

Don't use the cross-compile step in Makefile
  Makefile
Due: none

Put cleanup and restoring in ensure clause
  spec/storage_spec.cr
Due: freebsd_spec, osx_spec

Copy data dir in before clause
  spec/spec_helper.cr
  spec/storage_spec.cr
Due: freebsd_spec, osx_spec
