Repository cloudamqp/lavinmq: changes, and which Cirrus tasks are due for each by the changed paths.
All: freebsd_spec, freebsd_build, osx_spec, osx_build

freebsd_spec:
  freebsd_instance:
    image_family: freebsd-14-0-snap
  install_script:
  - pkg install -y crystal shards security/openssl
  script: 'shards install --production
  
    crystal spec --no-color --order random
  
    '

freebsd_build:
  freebsd_instance:
    image_family: freebsd-14-0-snap
  install_script:
  - pkg install -y crystal shards security/openssl gmake curl
  script: gmake -j2 DOCS= && rm bin/*.*
  artifacts:
    path: bin/*

osx_spec:
  macos_instance:
    image: monterey-base
  install_script:
  - brew update
  - brew install crystal
  script: 'shards install --production
  
    crystal spec --no-color --order random
  
    '

osx_build:
  macos_instance:
    image: monterey-base
  install_script:
  - brew update
  - brew install crystal
  env:
    PKG_CONFIG_PATH: /usr/local/opt/openssl@1.1/lib/pkgconfig
  script: make -j2 DOCS= && rm bin/*.*
  artifacts:
    path: bin/*

fix release workflow
  .github/workflows/release.yml
Due: none

run specs in Github action OS X runner
  .github/workflows/ci.yml
Due: none

more reliable round robin spec for high priority consumers
  spec/consumer_spec.cr
Due: freebsd_spec, osx_spec

remove unused Upstream#ack_timeout
  spec/upstream_spec.cr
  src/lavinmq/federation/upstream.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

more reliable federation upstream spec
  spec/upstream_spec.cr
Due: freebsd_spec, osx_spec

no brew update in cirrus to speed up install
  .cirrus.yml
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

use os x monterey in cirrus ci
  .cirrus.yml
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

Do update brew in cirrus, getting very old crystal otherwise
  .cirrus.yml
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

cirrus: spec and build in same runner
  .cirrus.yml
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

better reliability on persistent exchange spec
  spec/persistent_exchange_spec.cr
Due: freebsd_spec, osx_spec

install gmake on freebsd in cirrus
  .cirrus.yml
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

Add guides for some supported plattforms
  README.md
Due: none

typo
  README.md
Due: none

upgrade chart.js to version 4.0.1
  Makefile
  static/channel.html
  static/connection.html
  static/exchange.html
  static/index.html
  static/js/chart.js
  static/nodes.html
  static/queue.html
  static/queue_internal.html
Due: none

remove abundant imports
  static/channel.html
  static/connection.html
  static/exchange.html
  static/nodes.html
  static/queue.html
  static/queue_internal.html
Due: none

fixes chart shrinking when browser not at 100% zoom
  static/js/chart.js
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

rm unnecessary not_nil in shovel spec
  spec/shovel_spec.cr
Due: freebsd_spec, osx_spec

remove legend scraps and configure aspect ratio
  static/index.html
  static/js/chart.js
  static/js/nodes.js
  static/main.css
Due: none

add Filler import
  static/js/chart.js
Due: none

replace invalid imports in chartjs-adapter-luxon.esm.js with the correct strings
  Makefile
Due: none

Make HTTP shovel spec use unused port number
  spec/shovel_spec.cr
Due: freebsd_spec, osx_spec

Fix requires in a couple of files
  src/lavinmq/client/amqp_connection.cr
  src/lavinmq/client/client.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

don't limit concurrency of deb workflow, causes issues
  .github/workflows/deb.yml
Due: none

make sed in Makefile gnu comptible and more generic
  Makefile
Due: none

run workflows if Makefile changes
  .github/workflows/ci.yml
  .github/workflows/deb.yml
  .github/workflows/docker.yml
  .github/workflows/rpm.yml
Due: none

Use a LavinMQ compatible rabbitmq-java-client branch
  .github/workflows/ci.yml
Due: none

make the sed cmd in Makefile bsd and gnu compatible
  Makefile
Due: none

Refactor Log in Launcher
  src/lavinmq/launcher.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

Refactor logging in AMQPConnection
  src/lavinmq/client/amqp_connection.cr
  src/lavinmq/client/client.cr
  src/lavinmq/server.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

decrease default ack/enq file size to mmap less memory by default
  src/lavinmq/config.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

Use RoughTime monotonic/unix_ms in as many places as possible
  src/lavinmq/client/client.cr
  src/lavinmq/federation/link.cr
  src/lavinmq/message.cr
  src/lavinmq/queue/queue.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

only start the queue_expiration fiber if the queue has a TTL
  src/lavinmq/queue/queue.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

Path conditions:
  freebsd_spec: any of: .cirrus.yml, shard.lock, src/**, spec/**
  freebsd_build: any of: .cirrus.yml, shard.lock, src/**
  osx_spec: any of: .cirrus.yml, shard.lock, src/**, spec/**
  osx_build: any of: .cirrus.yml, shard.lock, src/**
