Repository cloudamqp/lavinmq: changes, and which Cirrus tasks are due for each by the changed paths.
All: freebsd_spec, freebsd_build, osx_spec, osx_build

freebsd_spec:
  freebsd_instance:
    image_family: freebsd-14-0-snap
  install_script:
  - pkg install -y crystal shards security/openssl
  script: 'shards install --production
  
    crystal spec --no-color --order random
  
    '

freebsd_build:
  freebsd_instance:
    image_family: freebsd-14-0-snap
  install_script:
  - pkg install -y crystal shards security/openssl gmake curl
  script: gmake -j2 DOCS= && rm bin/*.*
  artifacts:
    path: bin/*

osx_spec:
  macos_instance:
    image: monterey-base
  install_script:
  - brew update
  - brew install crystal
  script: 'shards install --production
  
    crystal spec --no-color --order random
  
    '

osx_build:
  macos_instance:
    image: monterey-base
  install_script:
  - brew update
  - brew install crystal
  env:
    PKG_CONFIG_PATH: /usr/local/opt/openssl@1.1/lib/pkgconfig
  script: make -j2 DOCS= && rm bin/*.*
  artifacts:
    path: bin/*

rm redudant paratheses
  src/lavinmq/federation/upstream_store.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

ameba.yml update
  .ameba.yml
Due: none

WIP: Simulate full disk with Docker Compose
  dev.Dockerfile
  docker-compose.yml
  special_spec/disk_full_spec.cr
Due: none

Set tcp_defer_accept on listening sockets
  src/lavinmq/server.cr
  src/stdlib/socket.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

msg has expired if Time is equal or less than timestamp + ttl
  src/lavinmq/queue/queue.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

Return 405 resoucre locked if trying to declare exclusive queue
  src/lavinmq/client/client.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

Fix exclusive queue redeclare check
  src/lavinmq/client/client.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

In controllers convert JSON to AMQP::Table natively
  src/lavinmq/http/controller/bindings.cr
  src/lavinmq/http/controller/definitions.cr
  src/lavinmq/http/controller/exchanges.cr
  src/lavinmq/http/controller/prometheus.cr
  src/lavinmq/http/controller/queues.cr
  src/lavinmq/http/resource_helpers.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

only send resource locked if q is exclulsive but the declare wasn't
  src/lavinmq/client/client.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

rabbitmqctl list_connection compability
  src/lavinmqctl.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

spec that verifies arguments are set on PUT /api/queue
  spec/api/queues_spec.cr
Due: freebsd_spec, osx_spec

Arguments has priority over policies
  src/lavinmq/amqp.cr
  src/lavinmq/exchange/exchange.cr
  src/lavinmq/queue/queue.cr
  src/lavinmq/segment_position.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

specs for arguments vs policies
  spec/policies_spec.cr
Due: freebsd_spec, osx_spec

run workflows for PR for the same file changes as main branch
  .github/workflows/ci.yml
  .github/workflows/deb.yml
  .github/workflows/docker.yml
Due: none

fixup! specs for arguments vs policies
  spec/policies_spec.cr
Due: freebsd_spec, osx_spec

sleep after adding/deleting policy in specs
  spec/policies_spec.cr
Due: freebsd_spec, osx_spec

sleep longer in CI for slow CI machines
  spec/persistent_exchange_spec.cr
Due: freebsd_spec, osx_spec

Arguments has priority over policies (#414)
  spec/policies_spec.cr
  src/lavinmq/amqp.cr
  src/lavinmq/exchange/exchange.cr
  src/lavinmq/queue/queue.cr
  src/lavinmq/segment_position.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

store Vhost#@segment_id instead of checking @segments.last_key
  src/lavinmq/vhost.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

new amq-protocol version
  shard.lock
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

Use default Random instance
  src/lavinmqperf.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

command line args now overrides config file
  src/lavinmq/server_cli.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

command line args now overrides config file (#419)
  src/lavinmq/server_cli.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

lavinmqperf: Uniq queue names, allow parallel runs (#411)
  src/lavinmqperf.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

Install ca-certificates with continer image
  Dockerfile
Due: none

No need to install make/curl, already available in crystal image
  Dockerfile
Due: none

Run specs before format/ameba in test stage
  Dockerfile
Due: none

Run tests in dockerfile
  Dockerfile
Due: none

Run specs in data dir /tmp/lavinmq-spec
  spec/spec_helper.cr
Due: freebsd_spec, osx_spec

Bug fix: basic_get from queue didn't add it to unacked
  src/lavinmq/client/channel.cr
  src/lavinmq/queue/queue.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

fixup! Bug fix: basic_get from queue didn't add it to unacked
  src/lavinmq/queue/queue.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

specs
  spec/queue_spec.cr
Due: freebsd_spec, osx_spec

Bug fix: basic_get from queue didn't add it to unacked (#421)
  spec/queue_spec.cr
  src/lavinmq/client/channel.cr
  src/lavinmq/queue/queue.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

better queue unacked spec
  spec/queue_spec.cr
Due: freebsd_spec, osx_spec

separaete layers for lint and spec
  Dockerfile
Due: none

Specs/tests is a layer/target in the Dockerfile (#420)
  Dockerfile
  spec/spec_helper.cr
Due: freebsd_spec, osx_spec

updated beta.6 changelog
  CHANGELOG.md
Due: none

Updated changelog
  CHANGELOG.md
Due: none

Update README.md
  README.md
Due: none

Path conditions:
  freebsd_spec: any of: .cirrus.yml, shard.lock, src/**, spec/**
  freebsd_build: any of: .cirrus.yml, shard.lock, src/**
  osx_spec: any of: .cirrus.yml, shard.lock, src/**, spec/**
  osx_build: any of: .cirrus.yml, shard.lock, src/**
