Repository cloudamqp/lavinmq: changes, and which Cirrus tasks are due for each by the changed paths.
All: freebsd_spec, freebsd_build, osx_spec, osx_build

freebsd_spec:
  freebsd_instance:
    image_family: freebsd-14-0-snap
  install_script:
  - pkg install -y crystal shards security/openssl
  script: 'shards install --production
  
    crystal spec --no-color --order random
  
    '

freebsd_build:
  freebsd_instance:
    image_family: freebsd-14-0-snap
  install_script:
  - pkg install -y crystal shards security/openssl gmake curl
  script: gmake -j2 DOCS= && rm bin/*.*
  artifacts:
    path: bin/*

osx_spec:
  macos_instance:
    image: monterey-base
  install_script:
  - brew update
  - brew install crystal
  script: 'shards install --production
  
    crystal spec --no-color --order random
  
    '

osx_build:
  macos_instance:
    image: monterey-base
  install_script:
  - brew update
  - brew install crystal
  env:
    PKG_CONFIG_PATH: /usr/local/opt/openssl@1.1/lib/pkgconfig
  script: make -j2 DOCS= && rm bin/*.*
  artifacts:
    path: bin/*

precondition error if txcommit/txrollback and not in tx mode
  src/lavinmq/client/channel.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

check double ack in TX
  src/lavinmq/client/channel.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

updated amq-protocol version
  shard.lock
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

Close channel if getting a new publish before another publish is finished
  src/lavinmq/client/channel.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

close channel if getting double Header frames
  src/lavinmq/client/channel.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

Return FrameDecode message to client
  src/lavinmq/client/client.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

can set env var LAVINMQCTL_HOST to tell it which URI to connect to
  src/lavinmqctl.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

lavinmqctl: nicer error message if lavinmq isn't running
  src/lavinmqctl.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

tidy up
  src/lavinmq/client/channel.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

don't try to send confirms before each msg delivery
  src/lavinmq/client/channel.cr
  src/lavinmq/vhost.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

IPAddress#loopback? should consider ::ffff:127.0.0.1/104 loopback too
  src/stdlib/socket.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

Close socket as soon as a Connection#CloseOk has been read
  src/lavinmq/client/client.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

prefix connection disconnects with CONNECTION_FORCED
  src/lavinmq/client/client.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

lavinmqctl can now set multiple tags
  src/lavinmqctl.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

Impersonator now does what it should
  src/lavinmq/http/controller/users.cr
  src/lavinmq/user.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

don't set CONNECTION_FORCED manually here and there, do it centrally
  src/lavinmq/http/controller/connections.cr
  src/lavinmqctl.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

only update tags if json payload included it
  src/lavinmq/http/controller/users.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

tags are sent as a comma delimited string to the user http api
  src/lavinmq/http/controller/users.cr
  src/lavinmq/user.cr
  src/lavinmqctl.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

document more known differences in readme
  README.md
Due: none

Messages now get a timestamp when they are commited
  README.md
  src/lavinmq/client/channel.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

in java client test workflow, let lavin listen to ipv6 address too
  .github/workflows/ci.yml
Due: none

fix: redoc had wrong args in Makefile, so no docs were built
  Makefile
Due: none

make man target
  Makefile
Due: none

The --debug flag slows down lavinmq to 10% speed, so remove it
  Makefile
Due: none

makefile target to build -debug binaries
  Makefile
Due: none

refactor clean target in makefile
  Makefile
Due: none

Use new M1 os x images on cirrus CI and
  .cirrus.yml
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

redoc-cli has change command bundle => build
  Makefile
Due: none

Run specs on an ARM machine in cirrus
  .cirrus.yml
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

maybe improve relability of specs (cirrus is slow?)
  spec/consumer_spec.cr
  spec/persistent_exchange_spec.cr
  spec/upstream_spec.cr
Due: freebsd_spec, osx_spec

npm install so that npx picks it up in dockerfile
  Dockerfile
Due: none

build bin/lavinmq-debug for the container
  Dockerfile
Due: none

updated changelog
  CHANGELOG.md
Due: none

can give --build-arg spec_args= to Dockerfile spec stage
  Dockerfile
Due: none

start lavinmq servers manually
  spec/disk_full_spec.cr
Due: freebsd_spec, osx_spec

Use tmpfs to simulate disk full in specs
  spec/disk_full_spec.cr
Due: freebsd_spec, osx_spec

A start of specs when disk is full
  special_spec/disk_full_spec.cr
Due: none

rename full disk specs
  spec/disk_full_spec.cr
Due: freebsd_spec, osx_spec

move disk_full_spec to spec/
  spec/disk_full_spec.cr
Due: freebsd_spec, osx_spec

version bump
  CHANGELOG.md
  shard.yml
Due: none

Path conditions:
  freebsd_spec: any of: .cirrus.yml, shard.lock, src/**, spec/**
  freebsd_build: any of: .cirrus.yml, shard.lock, src/**
  osx_spec: any of: .cirrus.yml, shard.lock, src/**, spec/**
  osx_build: any of: .cirrus.yml, shard.lock, src/**
