Repository cloudamqp/lavinmq: changes, and which Cirrus tasks are due for each by the changed paths.
All: freebsd_spec, freebsd_build, osx_spec, osx_build

freebsd_spec:
  freebsd_instance:
    image_family: freebsd-14-0-snap
  install_script:
  - pkg install -y crystal shards security/openssl
  script: 'shards install --production
  
    crystal spec --no-color --order random
  
    '

freebsd_build:
  freebsd_instance:
    image_family: freebsd-14-0-snap
  install_script:
  - pkg install -y crystal shards security/openssl gmake curl
  script: gmake -j2 DOCS= && rm bin/*.*
  artifacts:
    path: bin/*

osx_spec:
  macos_instance:
    image: monterey-base
  install_script:
  - brew update
  - brew install crystal
  script: 'shards install --production
  
    crystal spec --no-color --order random
  
    '

osx_build:
  macos_instance:
    image: monterey-base
  install_script:
  - brew update
  - brew install crystal
  env:
    PKG_CONFIG_PATH: /usr/local/opt/openssl@1.1/lib/pkgconfig
  script: make -j2 DOCS= && rm bin/*.*
  artifacts:
    path: bin/*

Abort deliver_loop on Channel/Queue::CloseError
  src/lavinmq/client/channel.cr
  src/lavinmq/client/channel/consumer.cr
  src/lavinmq/queue/queue.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

Consumer#deliver used from Channel#basic_recover
  src/lavinmq/client/channel/consumer.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

close channel in perf when consumer count is reached
  src/lavinmqperf.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

Improved Consumer#deliver_loop logic
  src/lavinmq/client/channel/consumer.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

Should not requeue anything on consumer close, only channel close
  src/lavinmq/client/channel.cr
  src/lavinmq/client/channel/consumer.cr
  src/lavinmq/queue/queue.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

Fix bug while waiting for other priority consumers
  src/lavinmq/client/channel/consumer.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

Make global and non-global prefetch two different limits
  src/lavinmq/client/channel.cr
  src/lavinmq/client/channel/consumer.cr
  src/lavinmq/reporter.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

Support for AMQP transactions
  src/lavinmq/client/channel.cr
  src/lavinmq/client/client.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

Let consumers pull messages from Queues
  spec/server_spec.cr
  spec/stdlib/channel_spec.cr
  src/lavinmq/client/channel.cr
  src/lavinmq/client/channel/consumer.cr
  src/lavinmq/client/client.cr
  src/lavinmq/consumer_store.cr
  src/lavinmq/http/controller/consumers.cr
  src/lavinmq/queue/durable_queue.cr
  src/lavinmq/queue/queue.cr
  src/lavinmq/queue/ready.cr
  src/lavinmq/vhost.cr
  src/lavinmqperf.cr
  src/stdlib/channel.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

Support for AMQP transactions
  .github/workflows/ci.yml
  src/lavinmq/client/channel.cr
  src/lavinmq/client/client.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

Add users tags to input field in update form
  static/user.html
Due: none

Hinder pre-defined (onclick) tags to be added multiple times
  static/js/helpers.js
Due: none

Avoid error when setting hasPassword if password have been removed.
  static/user.html
  static/users.html
Due: none

Minor update
  static/users.html
Due: none

Prompt confirm window if user already exists
  static/user.html
  static/users.html
Due: none

Use uniq tags when create/update user
  spec/api/users_spec.cr
  src/lavinmq/http/controller/users.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

Auto-complete empty tags when updating existing user
  static/users.html
Due: none

Bug fixes for user handling (#400)
  spec/api/users_spec.cr
  src/lavinmq/http/controller/users.cr
  static/js/helpers.js
  static/user.html
  static/users.html
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

ameba fixes
  .ameba.yml
  src/lavinmq/client/amqp_connection.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

new ameba version
  shard.lock
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

raise IO::Error if trying to write to closed MFile
  src/lavinmq/mfile.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

ameba ignore for spec files too
  .ameba.yml
Due: none

Docs: tls_compability_mode replaced by tls_min_version
  extras/config.ini
Due: none

Run ameba/formatting check in ubuntu container
  .github/workflows/ci.yml
Due: none

Enable colors in crystal spec, GHA supports it now
  .github/workflows/ci.yml
Due: none

Checkout ameba seperatly in GHA and build and use
  .github/workflows/ci.yml
Due: none

In transactions, add each message body to a temp file
  src/lavinmq/client/channel.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

Specs for transactions
  spec/tx_spec.cr
Due: freebsd_spec, osx_spec

ameba: allow not_nil! in spec/*
  .ameba.yml
Due: none

make the spec flag -DskipServerSetup work again
  spec/spec_helper.cr
Due: freebsd_spec, osx_spec

notify consumers has changed when first consumer is added
  src/lavinmq/queue/queue.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

notify queue expiration change after validation
  src/lavinmq/queue/queue.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

Use a channel to notify when Queue#@message_ttl change
  src/lavinmq/queue/queue.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

notify has global capacity on basic_recover
  src/lavinmq/client/channel.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

Only count consumer's unacked in global prefetch limit
  src/lavinmq/client/channel.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

Use RoughTime.unix_ms/monotonic where possible, greater accuracy
  src/lavinmq/client/channel.cr
  src/lavinmq/client/client.cr
  src/lavinmq/queue/queue.cr
  src/lavinmq/rough_time.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

SegmentPosition to store TTL separatly from timestamp
  spec/segment_position_spec.cr
  src/lavinmq/segment_position.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

No need to read from disk to get msg timestamp
  src/lavinmq/queue/queue.cr
Due: freebsd_spec, freebsd_build, osx_spec, osx_build

Path conditions:
  freebsd_spec: any of: .cirrus.yml, shard.lock, src/**, spec/**
  freebsd_build: any of: .cirrus.yml, shard.lock, src/**
  osx_spec: any of: .cirrus.yml, shard.lock, src/**, spec/**
  osx_build: any of: .cirrus.yml, shard.lock, src/**
